# Atlas shared example: mongodb+srv://<user>:<password>@cluster.mongodb.net/?appName=SoftServe-Academy
DB_CONNECTION_LINK=

# IMPORTANT: Replace "DB_NAME" with your actual name (e.g., gennadiy_local_db, pasha_local_db)
# This ensures everyone has their own isolated database in the shared cluster for local debugging
DB_NAME=