# DATABASE CONNECTION LINK (Choose ONE option)

# OPTION 1: Shared Atlas Cluster
# DB_CONNECTION_LINK=mongodb+srv://<user>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority

# OPTION 2: Local MongoDB (For offline debugging)
# DB_CONNECTION_LINK=mongodb://localhost:27017

DB_CONNECTION_LINK=

# DATABASE NAME (Required)


DB_NAME=

# CLIENT URL (for CORS)
CLIENT_URL=http://localhost:5173

# CLOUDINARY (for product image upload)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_PRODUCTS_FOLDER=products

# JWT (for authentication)
JWT_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret

# NOVA POSHTA API KEY (for fetching delivery options)
NOVA_POSHTA_API_KEY=your_nova_poshta_api_key